@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

*{
    margin: 0;
    padding: 0;
}

p{    
    font-family: 'cwTeXHei', sans-serif;
}

html{    
    background-color: #131313;
    background: linear-gradient(to top, rgba(39, 48, 128, 0.5), black, black, black, rgba(39, 48, 128, 0.3)), radial-gradient(circle, black 0%, rgba(255,44,44, 0.2) 100%), url("resources/BGPattern.png");
    height: 100vh;
}

#Frame{
    margin: 0 auto;
    width: 60vw;
    min-width: 900px;
    
    overflow: hidden;
}

#header{
    display: block;
    height: 20vh;
    width: 80%;
    margin: 4% auto;
}

    #Wrapper_Logo{
        position: relative;
        display: inline-block;
        left: 0 ;
        width: 40%;
        height: 100%;
        
        overflow: auto;
    }

    #Wrapper_Logo > img{
        position: absolute;
        height: 100%;
        right: 8%;
    }

    #header>p{
        display: inline-block;
        position: relative;
        color: white;
        font-size: 14pt;
        max-width: 50%;
        
        bottom: 50%;
        transform: translateY(50%);
        
        overflow: auto;
    }

#game_container{
    width: auto;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.game{
    display: inline-block;
    width: 28%;
    cursor: pointer;
}

.game:after{
    padding-top: 56.25%;
    content: '';
    display: block;
}

.game>img{
    float: left;
    display: block;
    width: 100%;
    
    transition: transform .4s, -webkit-filter .4s, filter .4s;
}

.game>img:hover{
    position: relative;
    float: left;
    z-index: 5;
    transform: scale(1.04) translateY(-1%) translateX(-1%);
    -webkit-filter: drop-shadow(4px 4px 8px rgba(88, 182, 255, 0.4));
    filter: drop-shadow(4px 4px 8px rgba(88, 182, 255, 0.4));
}

#footer{
    background-color: rgba(255,255,255, 0.2);
    width: 60%;    
    min-width: 900px;
    height: 10vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    
    transform: translateY(5vh);
    
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    
    transition: transform .4s;
}

#footer:hover{
    transform: translateY(0);
}

    #footer p{
        display: block;
        width: 100%;
        margin-top: 1%;
        
        color: rgba(255,255,255, 0.7);
        
        line-height: 24pt;

    }

#blackMask{
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 2;
    
    position: fixed;
    top:0;
    left: 0;
    
    opacity: 0;
    
    transition: opacity 1s;
    
    pointer-events: none;
}

#Base{
    display: none;
    
    width: 68vw;
    position: fixed;
    
    top: 8vh;
    left: 16vw;
    right: 16vw;
    
    z-index: 3;
    background-color: #f3f3f3;
    
    border-radius: 8px;
    box-shadow: 4px 4px 32px rgba(88, 182, 255, 0.5);
    
    text-align: center;
    
    transition: width .6s ease-in-out;
}

    #Base:after{
        display: block;
        content: '';
        padding-top: 56.25%;
    }

    .Wrapper_Info{
        opacity: 0;
        transition: opacity 1s;
    }

    .ChevronLeft:before{
        content: '';
        display: block;
        height: 50%;
        border-radius: 8px;
        background-color: #FFFFFF;
        transform: rotate(34deg) translateY(15%);   
    }

    .ChevronLeft{
        position: absolute;
        width: 0.5%;
        z-index: 4;
        float: left;
        left: -8%;

        height: 10%;
        top: 50%;
        transform: translateY(-50%);

        opacity: 0.5;

        cursor: pointer;
        
        padding: 1% 3%;
    }

    .ChevronLeft:after{
        content: '';
        display: block;
        height: 50%;
        border-radius: 8px;
        background-color: #FFFFFF;
        transform: rotate(-34deg) translateY(-15%);


    }

    .ChevronRight:before{
        content: '';
        display: block;
        height: 50%;
        border-radius: 8px;
        background-color: #FFFFFF;
        transform: rotate(-34deg) translateY(15%);   
    }

    .ChevronRight{
        position: absolute;
        width: 0.5%;
        z-index: 4;
        float: right;
        right: -8%;

        height: 10%;
        top: 50%;
        transform: translateY(-50%);

        opacity: 0.5;

        cursor: pointer;
        
        padding: 1% 3%;
    }

    .ChevronRight:after{
        content: '';
        display: block;
        height: 50%;
        border-radius: 8px;
        background-color: #FFFFFF;
        transform: rotate(34deg) translateY(-15%);
    }

    .LeaveWindow{
        display: block;
        position: absolute;
        float: left;
        left: 50%;
        top: -2%;
        
        color: white;

        opacity: 0.5;

        cursor: pointer;
    }

    #Text{
        width: 40%;
        height: 84%;
        position: absolute;
        right: 4%;
        top: 8%;
        bottom: 8%;

        text-align: left;
    }

    .gameDescription{
        font-size: 20pt;
        line-height: 28pt;
        margin-top: 4%;
    }

    .textBrief{
        font-size: 36pt;
        font-family: 'cwTeXHei', sans-serif;
    }

    #base>h1{
        font-size: 48pt;
        font-family: 'cwTeXHei', sans-serif;
    }

    .gamePreview{
        border: 1px solid orange;
        width: 36%;
        float: left;
        
        position: absolute;
        left: 4%;
        top: 12%;
    }

        .gamePreview:after{
            display: block;
            content: '';
            padding-top: 60%;
        }
