
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.up{
    overflow: auto;
}
.temp{
    display: inline-block;
}

body{
    margin: 0;
}
.container{
    width: 55%;
    margin: 0 auto; 
    margin-top: 50px;
}

#logo{
    height: 225px; /* 225px/1440px */
	width: 225px; 
    border-radius: 100%;
    margin-left: 20px;
    float:left;
}
#brief{
    position: absolute;
    height: 50px; 
    width: 470px;
    margin-top: 70px;
    margin-left: 25px;
    line-height: 1.5;
    text-align: justify;
    
}

.game img{
    display: inline;
    margin: 20px;
    height: 140px;
    width: 210px;
    box-shadow: 5px 5px 9px #d0cdcd, -5px -3px 9px lightGrey;
    
}

#footer{
    background-color: lightgrey;
    height:40px;
    width: 100%;    
    margin-top: 70px;
    padding-top: 10px;
    text-align: center;
}
